<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css"
      th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<style>
    p{
        line-height: 2em;
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <ul class="layui-timeline">
        <li class="layui-timeline-item" th:each="acti:${actHiActinsts}">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title" th:text="${acti.actName}">8月18日</h3>
                <p>
                    代理人：<span th:text="${acti.assignee}"></span>
                </p>
                <p>
                    开启时间：<span th:text="${#dates.format(acti.startTime,'yyyy-MM-DD HH:mm:ss')}"></span>
                <p>
                    <!--完成时间：<span-->
                        <!--th:text="${acti.endTime == null }? '待审批' : ${#dates.format(acti.startTime,'yyyy-MM-DD HH:mm:ss')} "></span>-->
                    完成时间：
                    <span class="badge badge-primary" style="padding: 5px 10px" th:if="${acti.endTime} == null">待 处 理</span>
                    <span th:unless="${acti.endTime} == null"><span th:text="${#dates.format(acti.startTime,'yyyy-MM-DD HH:mm:ss')}"></span></span>
                </p>
                </p>
            </div>
        </li>
        <li class="layui-timeline-item"></li>

    </ul>
</div>
<div id="treeDept" style="width: 200px;height: 300px ;text-align: center;display: none">
    <ul id="tree" class="ztree"></ul>
</div>
<div th:include="include::footer"></div>

</body>
</html>
