<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="operlog-form">
                <div class="select-list gd">
                    <ul>

                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" style="width: 150px" id="beginTime" placeholder="开始时间"
                                   name="beginTime" lay-key="1">
                            <span>-</span>
                            <input type="text" class="time-input" style="width: 150px" id="overTime" placeholder="结束时间"
                                   name="overTime" lay-key="2">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm"
                               onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm"
                               onclick="$.form.reset($('form').attr('id'))"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group hidden-xs" id="toolbar" role="group">

            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="schedule:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()"
               shiro:hasPermission="schedule:del">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var updateFlag = [[${@permission.hasPermi('schedule:update')}]];
    var delFlag = [[${@permission.hasPermi('schedule:del')}]];
    var prefix = "/schedule";
    $(function () {
        var options = {
            url: prefix + "/tableList",
            createUrl: prefix + "/toAdd",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/del",
            sortName: "createTime",
            sortOrder: 'desc',
            modalName: "日程工作",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编号',
                },
                {
                    field: 'createBy',
                    title: '创建人',
                    visible: true,
                    formatter:function (value,row) {
                        return row.user.name
                    }
                },
                {
                    field: 'title',
                    title: '标题'
                },
                {
                    field: 'descr',
                    title: '内容',
                    formatter: function (value) {
                        if (value.length > 20) {
                            return value.substring(0, 20) + "...";
                        }
                        return value;
                    }
                },
                {
                    field: 'status',
                    title: '类型',
                    formatter: function (value) {
                        if (value==0) {
                            return '<span class="badge badge-primary">一般</span>';
                        }else if (value==1) {
                            return '<span class="badge badge-warning">重要</span>';
                        }else if (value==2) {
                            return '<span class="badge badge-danger">紧急</span>';
                        }
                    }
                },
                {
                    field: 'isComplete',
                    title: '状态',
                    formatter: function (value) {
                        if (value=='0') {
                            return '<span class="badge badge-primary">进行中</span>';
                        }else {
                            return '<span class="badge badge-danger">已完成</span>';
                        }
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs '+updateFlag+'" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs '+delFlag+'"  shiro:hasPermission="schedule:del" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-danger btn-xs '+delFlag+' "  shiro:hasPermission="schedule:add" href="#" onclick="updateComplete(\'' + row.id + '\')"><i class="fa fa-remove"></i> 完成 </a>');
                        return actions.join('');
                    }
                }]
        };

        $.table.init(options);
    });

    function updateComplete(id){
        $.ajaxSettings.async=true;
        $.post("/schedule/updateComplete/",{id:id},function (data) {
            $.operate.saveSuccess(data);
            $.treeTable.refresh();
        }).error(function (data) {
            $.modal.alertError("系统错误！");
        })
    }
</script>
</body>
</html>