<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="operlog-form">
                <div class="select-list gd">
                    <ul>
                        <li>
                            文件名称：<input type="text" name="fileName"/>
                        </li>
                        <li>
                            上传人：<input type="text" name="uploadUser"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" style="width: 150px" id="beginTime" placeholder="开始时间"
                                   name="beginTime" lay-key="1">
                            <span>-</span>
                            <input type="text" class="time-input" style="width: 150px" id="overTime" placeholder="结束时间"
                                   name="overTime" lay-key="2">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm"
                               onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm"
                               onclick="$.form.reset($('form').attr('id'))"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="file:upload">
                <i class="fa fa-plus"></i> 文件上传
            </a>
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()"
               shiro:hasPermission="file:del">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = "/file";
    var downloadFlag = [[${@permission.hasPermi('file:download')}]];
    var delFlag = [[${@permission.hasPermi('file:del')}]];
    $(function () {
        var options = {
            url: prefix + "/tableList",
            createUrl: prefix + "/toAdd",
            removeUrl: prefix + "/del",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "文件",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'fileId',
                    title: '文件编号',
                    formatter: function (value, row, index) {
                        var val = value.substring(0, value.indexOf("."));
                        return val;

                    }
                },
                {
                    field: 'fileName',
                    title: '文件名称'
                },
                {
                    field: 'descr',
                    title: '文件描述'
                },
                {
                    field: 'fileType',
                    title: '文件类型'
                },
                {
                    field: 'fileSize',
                    title: '文件大小'
                },
                {
                    field: 'uploadUser',
                    title: '上传人'
                },
                {
                    field: 'downloadCount',
                    title: '下载量'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(row.createTime)
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = []; //onclick="fileDown(\''+row.fileId+'\',\''+row.fileName+'\')"
                        // actions.push('<a class="btn btn-success btn-xs " href="#" onclick="fileDown(\''+row.fileId+'\',\''+row.fileName+'\')"><i class="fa fa-download"></i>下载</a> ');
                        actions.push('<a class="' + downloadFlag + 'btn btn-success btn-xs " onclick="addCount()" href="/file/download?fileId=' + row.fileId + '&fileName=' + row.fileName + '"><i class="fa fa-download"></i>下载</a> ');
                        actions.push('<a  class="' + delFlag + 'btn btn-danger btn-xs " href="#" onclick="$.operate.remove(\'' + row.fileId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function addCount() {
        $.table.refresh();
    }
</script>
</body>
</html>