<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>

<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-room-edit" th:object="${room}">
            <input id="id" name="id" class="form-control" th:value="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">房间名：</label>
                <div class="col-sm-8">
                    <input id="meetRoomName"  th:value="*{meetRoomName}" name="meetRoomName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">地点：</label>
                <div class="col-sm-8">
                    <input id="meetRoomPlace" th:value="*{meetRoomPlace}" name="meetRoomPlace" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">人数：</label>
                <div class="col-sm-8">
                    <input id="capacity" name="capacity" th:value="*{capacity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">会议室状态：</label>
                <div class="col-sm-8">
                    <label class="checkbox-inline i-checks">
                        <input type="radio" th:field="*{status}" name="status" value="0" checked/>
                        空闲
                    </label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio"th:field="*{status}" name="status" value="1"/>
                        预约中
                    </label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" th:field="*{status}" name="status" value="2"/>
                        使用中
                    </label>
                    <label class="checkbox-inline i-checks">
                        <input type="radio" th:field="*{status}" name="status" value="3"/>
                        停用
                    </label>

                </div>
            </div>
            <div class="form-group">
                <div class="form-control-static col-sm-offset-9">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
                </div>
            </div>
        </form>
    </div>
    <div th:include="include::footer"></div>
    <script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
    <script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
    <script type="text/javascript">

		var prefix =  "/room"
		$("#form-room-edit").validate({
            rules:{
                meetRoomName:{
                    required:true,
                    remote: {
                        url: prefix+"/checkRoomNameUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            id:function(){
                                return $.trim($("#id").val());
                            },
                            meetRoomName: function () {
                                return $.trim($("#meetRoomName").val());
                            },
                        },
                        dataFilter: function (data, type) {
                            if (data == "0") return true;
                            else return false;
                        }
                    }
                },
                meetRoomPlace:{
                    required:true,
                },
                capacity:{
                    required:true,
                }
            },
			submitHandler: function(form) {
				$.operate.save(prefix + "/editSave", $('#form-room-edit').serialize());
			}
		});
	</script>
</body>
</html>
