<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>OA - 登录</title>
    <meta name="keywords" content="OA管理系统">
    <meta name="description" content="OA">
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/login.min.css" rel="stylesheet"/>
    <link href="../ajax/libs/iCheck/custom.css" th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
    <link href="../ruoyi/css/ry-ui.min.css" th:href="@{/ruoyi/css/ry-ui.min.css?v=2.0.0}" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="../static/favicon.ico" th:href="@{favicon.ico}"/>
    <script>
        if (window.top !== window.self) {
            window.top.location = window.location
        }
    </script>
</head>

<body class="signin">

<div class="signinpanel">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-10">
            <form id="signupForm">
                <h4 class="no-margins">登录：</h4>
                <input type="text" name="loginName" class="form-control uname" placeholder="用户名" value="admin"/>
                <input type="password" name="pwd" class="form-control pword m-b" value="admin" placeholder="密码"/>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" name="validateCode" class="form-control code" placeholder="验证码"
                               maxlength="5">
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:void(0);" title="点击更换验证码">
                            <img src="/code/getVerify" width="95%" class="imgcode"/>
                        </a>
                    </div>
                </div>
                <input class="i-checks" type="checkbox" name="rememberme"/>&nbsp;&nbsp;记住我
                <button class="btn btn-success btn-block" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript"> var ctx = [[@{
    /}]]; var captchaType = [[${captchaType}]]; </script>
<!-- 全局js -->
<script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 验证插件 -->
<script src="../ajax/libs/validate/jquery.validate.min.js"
        th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../ajax/libs/validate/messages_zh.min.js" th:src="@{/ajax/libs/validate/messages_zh.min.js}"></script>
<script src="../ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../ajax/libs/iCheck/icheck.min.js" th:src="@{/ajax/libs/iCheck/icheck.min.js}"></script>
<script src="../ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="http://tajs.qq.com/stats?sId=62048022"></script>
<script src="../ruoyi/js/ry-ui.min.js?v=2.0.0" th:src="@{/ruoyi/js/ry-ui.min.js?v=2.0.0}"></script>
<script src="../ruoyi/login.js" th:src="@{/ruoyi/login.js}"></script>
</body>
</html>
