<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-info">
            <form id="operlog-form">
                <div class="select-list gd">
                    <ul>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" style="width: 150px" id="beginTime" placeholder="开始时间"
                                   name="beginTime" lay-key="1">
                            <span>-</span>
                            <input type="text" class="time-input" style="width: 150px" id="overTime" placeholder="结束时间"
                                   name="overTime" lay-key="2">
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm"
                               onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm"
                               onclick="$.form.reset($('form').attr('id'))"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group hidden-xs" id="toolbar" role="group">
            <!--<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="file:add">-->
            <!--<i class="fa fa-plus"></i> 新增-->
            <!--</a>-->
            <a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()"
               shiro:hasPermission="myApply:del">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-info order-table">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var prefix = "/applyRoomForm";
    var updatedFlag = [[${@permission.hasPermi('"myApply:update')}]];
    var delFlag = [[${@permission.hasPermi('"myApply:del')}]];
    $(function () {
        var options = {
            url: prefix + "/TableMyApplRoomMyHiList",
            pictureUrl: "/task/flowChart/{id}", //流程图
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/del",
            sortName: "START_TIME_",  //对应数据库表述中的字段
            sortOrder: "desc",
            modalName: "申请历史",
            search: false,
            showExport: false,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编号'
                },
                {
                    field: 'procInstId',
                    title: '实例Id',
                    visible: true
                },
                {
                    field: 'businessKey',
                    title: '实例名称',
                    formatter: function (value, row, index) {
                        if (value.indexOf("0") == 0) {
                            return "会议室申请";
                        } else {
                            return "请假申请";
                        }
                    }

                },
                {
                    field: 'startTime',
                    title: '申请时间',
                    formatter: function (value, row, index) {
                        return $.common.dateFormat(value)
                    }
                },
                {
                    field: 'endTime',
                    title: '结束时间',

                    formatter: function (value, row, index) {

                        if (value == null) {
                            return '<span class="badge badge-warning">待审批！</span>';
                        } else {
                            return $.common.dateFormat(value)
                        }

                    }
                },
                {
                    field: 'startUserId',
                    title: '申请人编号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = []; //onclick="fileDown(\''+row.fileId+'\',\''+row.fileName+'\')"
                        actions.push('<a class="' + updatedFlag + 'btn btn-info btn-xs " href="#" onclick="$.operate.edit(\'' + row.procInstId + '\')"><i class="fa fa-edit"></i> 查看</a> ');
                        actions.push('<a class="' + updatedFlag + 'btn btn-warning btn-xs " href="#" onclick="ViewProcess(\'' + row.procInstId + '\')"><i class="fa fa-edit"></i> 进度</a> ');
                        actions.push('<a class="' + updatedFlag + 'btn btn-success btn-xs " href="#" onclick="$.operate.FlowCharPng(\'' + row.procInstId + '\')"><i class="fa fa-picture-o"></i> 流程图</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function ViewProcess(procInstId) {
        $.modal.open("审批流程", "/hiActi/HiProcActiList/" + procInstId);
    }


</script>
</body>
</html>