<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.oa.project.mapper.ScheduleMapper">
    <resultMap id="BaseResultMap" type="com.yj.oa.project.po.Schedule">
        <id column="sId" property="id" jdbcType="INTEGER"/>
        <result column="createBy" property="createBy" jdbcType="VARCHAR"/>
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="descr" property="descr" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="isComplete" property="isComplete" jdbcType="INTEGER"/>

        <association property="user" javaType="User">
            <result column="sName" property="name"/>
            <association property="deptPo" javaType="Dept">
                <result property="deptName" column="deptName"/>
            </association>
        </association>
        <collection property="userList" ofType="User">
            <id column="uid" property="uid"/>
            <result column="mName" property="name"/>
            <result column="dept" property="dept"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        s.id as sId, createBy, s.startTime, s.endTime,s.createTime, title, s.descr, s.status,isComplete,
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        d.deptName,u.uid,u.name as mName,u.dept,uu.name as sName
        from t_dept d
        INNER JOIN t_user uu on d.depId=uu.dept
        INNER JOIN t_schedule s ON uu.uid = s.createBy
        LEFT JOIN t_schedule_user su ON su.s_Id=s.id
        LEFT JOIN t_user u ON su.su_Id = u.uId

        where s.id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectScheduleList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        d.deptName,u.name as mName,u.dept,uu.name as sName
        from t_dept d
        INNER JOIN t_user uu on d.depId=uu.dept
        INNER JOIN t_schedule s ON uu.uid = s.createBy
        LEFT JOIN t_schedule_user su ON su.s_Id=s.id
        LEFT JOIN t_user u ON su.su_Id = u.uId
        <where>
            <if test="id !=null and id!=''">
                and id =#{id}
            </if>
            <if test="createBy !=null and id!=''">
                and createBy =#{createBy}
            </if>


            <if test="beginTime !=null">
                <![CDATA[   and DATE_FORMAT(s.createTime, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test="overTime !=null">
                <![CDATA[  and DATE_FORMAT(s.createTime, '%Y-%m-%d') <= DATE_FORMAT(#{overTime}, '%Y-%m-%d')    ]]>
            </if>

            <if test="isComplete!=null">
                and  isComplete = #{isComplete}
            </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKeys" parameterType="java.lang.Integer">
        delete from t_schedule
        where id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id,jdbcType=INTEGER}

        </foreach>
    </delete>

    <insert id="insertSelective" parameterType="com.yj.oa.project.po.Schedule" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into t_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createBy != null">
                createBy,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="descr != null">
                descr,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                #{descr,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yj.oa.project.po.Schedule">
        update t_schedule
        <set>
            <if test="createBy != null">
                createBy = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                startTime = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                endTime = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="isComplete != null">
                isComplete = #{isComplete,jdbcType=INTEGER},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>