<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.oa.project.mapper.UserMapper">


    <!--登录查询用到权限-->
    <resultMap id="BaseResultMap" type="User">
        <id column="uid" property="uid" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="dept" property="dept" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="self_introduction" property="self_introduction" jdbcType="VARCHAR"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="ustatus" property="status" jdbcType="INTEGER"/>
        <result column="uroleId" property="role_ID" jdbcType="INTEGER"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <association property="role" javaType="Role">
            <id property="roleId" column="roleId"/>
            <result property="roleName" column="roleName"/>
            <result property="createTime" column="createTime"/>
            <collection property="permissionList" ofType="Permission">
                <id column="permissionId" property="permissionId" jdbcType="INTEGER"/>
                <result column="perName" property="perName" jdbcType="VARCHAR"/>
                <result column="parenId" property="parenId" jdbcType="INTEGER"/>
                <result column="parentName" property="parentName" jdbcType="VARCHAR"/>
                <result column="type" property="type" jdbcType="INTEGER"/>
                <result column="url" property="url" jdbcType="VARCHAR"/>
                <result column="code" property="code" jdbcType="VARCHAR"/>
                <result column="icon" property="icon" jdbcType="VARCHAR"/>
                <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
            </collection>
        </association>
        <association property="deptPo" javaType="Dept">
            <id column="depId" jdbcType="VARCHAR" property="depId"/>
            <result column="deptName" jdbcType="VARCHAR" property="deptName"/>
            <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        </association>
        <association property="positionPo" javaType="Position">
            <id column="positionId" property="positionId" jdbcType="INTEGER"/>
            <result column="positionName" property="positionName" jdbcType="VARCHAR"/>
            <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <!--
      抽取公共字段
    -->
    <sql id="Base_Column_List">
        uid, pwd,loginName,name, sex, age, dept, position, self_introduction,hobby, tel, email, u.createTime as uctime,
        avatar,u.status as ustatus, u.role_ID as uroleId,isdel
    </sql>


    <!--根据主键查询 登录调用此方法-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="String">
    SELECT
    <include refid="Base_Column_List"/>
    ,r.*,p.*,ps.positionName,d.deptName
    FROM
    t_user u,
    t_role r,
    t_permission p,
    t_role_permission rp,
    t_position ps,
    t_dept d
    WHERE
    u.role_ID=r.roleId
    AND r.roleId=rp.role_Id
    AND p.permissionId=rp.permission_Id
    and ps.positionId=u.position
    and d.depId=u.dept
     and u.status &gt;= 0
     AND u.uId=#{uid}
  </select>


    <!--根据主键查询 登录调用此方法-->
    <select id="login" resultMap="BaseResultMap" parameterType="String">
       SELECT
        <include refid="Base_Column_List"/>
	, r.*,p.*,d.depId,d.deptName,ps.positionName
FROM
	t_user u,
	t_role r,
	t_permission p,
	t_role_permission rp,
	t_dept d,
	t_position ps
    WHERE
 d.depId = u.dept
AND	u.role_ID = r.roleId
AND r.roleId = rp.role_Id
AND p.permissionId = rp.permission_Id
and ps.positionId =u.position
        AND u.loginName=#{loginName}
    </select>


    <!-- 用户列表 根据不同条件查询-->
    <select id="selectByUser" resultMap="BaseResultMap" parameterType="User">
        select
        <include refid="Base_Column_List"></include>
        ,d.*
        from t_user u
        LEFT JOIN t_dept d ON u.dept=d.depId
        <where>
            <if test="uid !=null and uid !=''">
                and uid = #{uid}
            </if>
            <if test="name !=null and name !=''">
                and name LIKE concat('%',#{name},'%')
            </if>
            <if test="dept !=null and dept !=''">
                and dept = #{dept}
            </if>
            <if test="position !=null and position !=''">
                and position = #{position}
            </if>

            <if test="beginTime !=null">
                <![CDATA[   and DATE_FORMAT(u.createTime, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test="overTime !=null">
                <![CDATA[  and DATE_FORMAT(u.createTime, '%Y-%m-%d') <= DATE_FORMAT(#{overTime}, '%Y-%m-%d')    ]]>
            </if>
            <if test="tel !=null and tel!=''">
                and tel LIKE concat('%',#{tel},'%')
            </if>
            <if test="role_ID !=null and role_ID!=''">
                and role_ID=#{role_ID}
            </if>
            <if test="status !=null and status !=''or status==0">
                and u.status = #{status}
            </if>
            and u.status &gt;= 0
        </where>
    </select>


    <!--批量删除-->
    <delete id="deleteByPrimaryKeys" parameterType="String">
        UPDA TE
        t_user
        set status = -1
        WHERE uid IN
        <foreach collection="array" item="id" index="idex" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!--
     添加
    -->
    <insert id="insertSelective" parameterType="User">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="loginName != null">
                loginName,
            </if>

            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="dept != null">
                dept,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="hobby != null">
                hobby,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="status != null">
                status,
            </if>

            <if test="role_ID != null">
                role_ID,
            </if>
            <if test="self_introduction != null">
                self_introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="dept != null">
                #{dept,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="hobby != null">
                #{hobby,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>

            <if test="role_ID != null">
                #{role_ID},
            </if>
            <if test="self_introduction != null">
                #{self_introduction,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>


    <!--
       修改
      -->
    <update id="updateByPrimaryKeySelective" parameterType="com.yj.oa.project.po.User">
        update t_user
        <set>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="loginName != null">
                loginName = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>

            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="dept != null">
                dept = #{dept,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=INTEGER},
            </if>

            <if test="hobby != null">
                hobby = #{hobby,jdbcType=VARCHAR},
            </if>
            <if test="role_ID != null">
                role_ID = #{role_ID},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>

            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="self_introduction != null">
                self_introduction = #{self_introduction,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where uid = #{uid,jdbcType=VARCHAR}
    </update>


    <select id="checkPhoneUnique" parameterType="String" resultType="User">
        select uid, tel from t_user where tel=#{tel}
    </select>

    <select id="checkEmailUnique" parameterType="String" resultType="User">
        select uid, email from t_user where email=#{email}
    </select>
    <select id="checkLoginNameUnique" parameterType="String" resultType="User">
        select uid, loginName from t_user where loginName=#{loginName}
    </select>


    <!--
       查询最新id
    -->
    <select id="selectUserMaxId" resultType="java.lang.Long">
        select uid from t_user where uid = (select max(uid) from t_user)
    </select>


</mapper>