<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.oa.project.mapper.AttendCountMapper">
    <resultMap id="BaseResultMap" type="com.yj.oa.project.po.AttendCount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="deptId" property="deptId" jdbcType="INTEGER"/>
        <result column="noAttendCount" property="noAttendCount" jdbcType="INTEGER"/>
        <result column="dateYear" property="dateYear" jdbcType="VARCHAR"/>
        <result column="dateMoth" property="dateMoth" jdbcType="VARCHAR"/>
        <result column="leaveTimeLength" property="leaveTimeLength" jdbcType="DOUBLE"/>
        <result column="lateTimeLength" property="lateTimeLength" jdbcType="DOUBLE"/>
        <result column="lateCount" property="lateCount" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <association property="user" javaType="User">
            <result column="name" property="name"/>
        </association>
        <association property="dept" javaType="Dept">
            <result column="deptName" property="deptName"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, userId, deptId, noAttendCount, dateYear, dateMoth, leaveTimeLength, lateTimeLength,
    lateCount, ac.createTime, ac.status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_attendcount
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAttendCountList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,u.name,d.deptName
        from t_dept d
        RIGHT JOIN t_attendcount ac ON d.depId=ac.deptId
        LEFT JOIN t_user u on u.uid=ac.userId
        <where>
            <if test="user !=null">
                <if test="user.name !=null and user.name !=''">
                    and u.name like concat('%',#{user.name},'%')
                </if>
            </if>
            <if test="dept !=null">
                <if test="dept.deptName !=null and dept.deptName !=''">
                    and d.deptName like concat('%',#{dept.deptName},'%')
                </if>
            </if>
            <if test="dateYear !=null and dateYear!=''">
                and dateYear=#{dateYear}
            </if>
            <if test="dateMoth !=null and dateMoth!=''">
                and dateMoth like concat('%',#{dateMoth},'%')
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKeys" parameterType="java.lang.Integer">
        delete from t_attendcount

        where id IN
        <foreach collection="array" open="(" separator="," close=")" item="id">

            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insertSelective" parameterType="com.yj.oa.project.po.AttendCount">
        insert into t_attendcount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="deptId != null">
                deptId,
            </if>
            <if test="noAttendCount != null">
                noAttendCount,
            </if>
            <if test="dateYear != null">
                dateYear,
            </if>
            <if test="dateMoth != null">
                dateMoth,
            </if>
            <if test="leaveTimeLength != null">
                leaveTimeLength,
            </if>
            <if test="lateTimeLength != null">
                lateTimeLength,
            </if>
            <if test="lateCount != null">
                lateCount,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=INTEGER},
            </if>
            <if test="noAttendCount != null">
                #{noAttendCount,jdbcType=INTEGER},
            </if>
            <if test="dateYear != null">
                #{dateYear,jdbcType=VARCHAR},
            </if>
            <if test="dateMoth != null">
                #{dateMoth,jdbcType=VARCHAR},
            </if>
            <if test="leaveTimeLength != null">
                #{leaveTimeLength,jdbcType=DOUBLE},
            </if>
            <if test="lateTimeLength != null">
                #{lateTimeLength,jdbcType=DOUBLE},
            </if>
            <if test="lateCount != null">
                #{lateCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yj.oa.project.po.AttendCount">
        update t_attendcount
        <set>
            <if test="userId != null">
                userId = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                deptId = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="noAttendCount != null">
                noAttendCount = #{noAttendCount,jdbcType=INTEGER},
            </if>
            <if test="dateYear != null">
                dateYear = #{dateYear,jdbcType=VARCHAR},
            </if>
            <if test="dateMoth != null">
                dateMoth = #{dateMoth,jdbcType=VARCHAR},
            </if>
            <if test="leaveTimeLength != null">
                leaveTimeLength = #{leaveTimeLength,jdbcType=DOUBLE},
            </if>
            <if test="lateTimeLength != null">
                lateTimeLength = #{lateTimeLength,jdbcType=DOUBLE},
            </if>
            <if test="lateCount != null">
                lateCount = #{lateCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>