<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.oa.project.mapper.OperLogMapper">
    <resultMap id="BaseResultMap" type="com.yj.oa.project.po.OperLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="operModal" property="operModal" jdbcType="VARCHAR"/>
        <result column="descr" property="descr" jdbcType="VARCHAR"/>
        <result column="host" property="host" jdbcType="VARCHAR"/>
        <result column="ipAddress" property="ipAddress" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="errorMsg" property="errorMsg" jdbcType="VARCHAR"/>
        <result column="operUser" property="operUser" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="deptId" property="deptId" jdbcType="VARCHAR"/>
        <result column="sys" property="sys" jdbcType="VARCHAR"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <association property="user" javaType="User">
            <id column="uid" property="uid"/>
            <result column="name" property="name"/>
            <result column="dept" property="dept"/>
        </association>
        <association property="dept" javaType="Dept">
            <id column="depId" property="depId"/>
            <result column="deptName" property="deptName"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, operModal, descr, host, ipAddress, url,type, method, params, errorMsg, operUser, time,deptId,ol.status,browser,sys,type,

  </sql>

    <!--
       主键查询
    -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        u.uid,u.name,d.depId,d.deptName
        from
        t_operlog ol ,t_dept d ,t_user u
        where ol.deptId=d.depId
        and ol.operUser=u.uid
        and id =#{id}
    </select>
    <!--
       批量删除
    -->
    <delete id="deleteByPrimaryKeys" parameterType="java.lang.Integer">
        delete from t_operlog
        where id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>


    <select id="selectOperLogList" resultMap="BaseResultMap" resultType="OperLog">
        select
        <include refid="Base_Column_List"/>
        u.uid,u.name,d.depId,d.deptName
        from
           t_operlog ol ,t_dept d ,t_user u
        where
          ol.deptId=d.depId
        and ol.operUser=u.uid

        <if test="id !=null">
            and id=#{id}
        </if>

        <if test="operUser!=null and operUser !=''">
           and operUser in (select uid from t_user where name=#{operUser})
        </if>

        <if test="operModal !=null and operModal !=''">
            and operModal like concat('%',#{operModal},'%')
        </if>
        <if test="beginTime!=null">
            and #{beginTime} &lt;= time
        </if>
        <if test="overTime!=null">
            and #{overTime} &gt;= time
        </if>
        <if test="status!=null">
            and ol.status=#{status}
        </if>

    </select>


    <!--
       插入
    -->
    <insert id="insertSelective" parameterType="com.yj.oa.project.po.OperLog">
        insert into t_operlog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="operModal != null">
                operModal,
            </if>
            <if test="descr != null">
                descr,
            </if>
            <if test="host != null">
                host,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="ipAddress != null">
                ipAddress,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="params != null">
                params,
            </if>
            <if test="errorMsg != null">
                errorMsg,
            </if>
            <if test="operUser != null">
                operUser,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sys != null">
                sys,
            </if>
            <if test="browser!= null">
                browser,
            </if>
            <if test="deptId!= null">
                deptId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="operModal != null">
                #{operModal,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                #{descr,jdbcType=VARCHAR},
            </if>
            <if test="host != null">
                #{host,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="ipAddress != null">
                #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=VARCHAR},
            </if>
            <if test="errorMsg != null">
                #{errorMsg,jdbcType=VARCHAR},
            </if>
            <if test="operUser != null">
                #{operUser,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="sys != null">
                #{sys,jdbcType=VARCHAR},
            </if>

            <if test="browser != null">
                #{browser,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId},
            </if>
        </trim>
    </insert>

    <!--
       更改
    -->
    <update id="updateByPrimaryKeySelective" parameterType="com.yj.oa.project.po.OperLog">
        update t_operlog
        <set>
            <if test="opermodal != null">
                operModal = #{opermodal,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="host != null">
                host = #{host,jdbcType=VARCHAR},
            </if>
            <if test="ipaddress != null">
                ipAddress = #{ipaddress,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="errormsg != null">
                errorMsg = #{errormsg,jdbcType=VARCHAR},
            </if>
            <if test="operuser != null">
                operUser = #{operuser,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>